<h2>Обслуживаемые пути</h2>
<div class="card-columns">
    <div *ngFor="let track of tracks" class="card">
            <!--img *ngIf="track.liveSnapshotURIs.length != 0" 
                class="card-img-top img-fluid" width="100%"
                src="{{track.liveSnapshotURIs[0]+'?width=160'}}"/-->
        <ngb-carousel>
            <ng-template ngbSlide *ngFor="let s of track.liveSnapshotSources">
                <div class="picsum-img-wrapper">
                    <img [src]="s.getSnapshotImage+'?width=320'" />
                </div>
                <div class="carousel-caption">
                    <h3>{{s.displayName}}</h3>
                    <p>{{s.description}}</p>
                </div>                
            </ng-template>
        </ngb-carousel>
        <div class="card-block">
            <h4>{{track.displayName}}</h4>
            <span class="badge badge-info">{{track.channels.length}} video channels</span>
            <p *ngIf="track.description != null">{{track.description}}</p>
            <a routerLink="/live-mon/{{track.name}}" role="button" class="btn btn-outline-primary">Мониторинг</a>
        </div>
    </div>
</div>
