<a [routerLink]="['/']" routerLinkActive="true" >К главной</a>
<h2 *ngIf="track">{{track.displayName}} <small>мониторинг в реальном времени</small></h2>
<div class="card-columns">
    <div class="card border-0">
        <button class="w-100 btn btn-outline-secondary btn-lg" *ngIf="track &amp;&amp; track.api" 
            (mousedown)="sendRecognize(true)" (mouseup)="sendRecognize(false)"
            ngbTooltip="Нажмите эту кнопку для начала распознавания номера вагона, и отпустите для окончания"
            placement="right"
            [openDelay]="5000" [closeDelay]="3000">
            Управление распознаванием
        </button>
        <div class="shadow w-100">
            <p class="text-monospace mon-rec-result text-center">{{(last_result &amp;&amp; last_result.result) ? last_result.result : "--------"}}</p>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th># п/п</th>
                    <th>Распознанный номер</th>
                    <th>Уверенность, %</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let res of last_results">
                    <th scope="row">{{ res ? res.cookie : "---" }}</th>
                    <td>{{ res ? res.result : "--------" }}</td>
                    <td>{{ res ? (res.confidence*100 | number : '2.1-1') : "---"}}</td>
                </tr>
            </tbody>
        </table>
    </div> <!--col-3 -->
    <div *ngFor="let k of [0,1,2,3,4]" class="card p-1" [hidden]="!(viewports && viewports[k].viewportVisible)">
        <video class="viewport card-img" playsinline [muted]=true controls autoplay width="100%"></video>
        <div class="card-block p-1">
            <h5>{{viewports[k].sourceName}}</h5>
        </div>
    </div>
</div>