<div class="container">
<a [routerLink]="['/']" routerLinkActive="true" >К главной</a>
<div class="row">
    <div class="col-12">
        <h2 *ngIf="track">{{track.displayName}}<small *ngIf="!haveEventsArchive"> :: недавняя история</small>
        <small *ngIf="haveEventsArchive"> :: 
            <a type="button" (click)="isSearchCollapsed = !isSearchCollapsed" class="queryparams">
            с {{ searchBegin | date : 'shortDate' }} по {{ searchEnd | date : 'shortDate' }} 
            </a>
        </small>
        </h2>
    </div>
</div>
<div #collapse="ngbCollapse" [(ngbCollapse)]="isSearchCollapsed">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Параметры поиска</h5>
            <div class="card-text">
                <div class="col-4">
                    <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="dayTemplate" outsideDays="hidden">
                    </ngb-datepicker>
                    
                    <ng-template #dayTemplate let-date let-focused="focused">
                    <span class="custom-day"
                            [class.focused]="focused"
                            [class.range]="isRange(date)"
                            [class.faded]="isHovered(date) || isInside(date)"
                            (mouseenter)="hoveredDate = date"
                            (mouseleave)="hoveredDate = null">
                        {{ date.day }}
                    </span>
                    </ng-template>
                </div>
                <p>
                <div class="col-4">
                    Записей на странице: 
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="recordsPerPage">
                        <label ngbButtonLabel class="btn-primary">
                          <input ngbButton type="radio" [value]="200">200
                        </label>
                        <label ngbButtonLabel class="btn-primary">
                          <input ngbButton type="radio" [value]="1000">1000
                        </label>
                        <label ngbButtonLabel class="btn-primary">
                          <input ngbButton type="radio" [value]="5000">5000
                        </label>
                        <label ngbButtonLabel class="btn-primary">
                          <input ngbButton type="radio" [value]="25000">25000
                        </label>
                    </div>                    
                </div>
            </div>
            <div>
                <p>
                <hr/>
                <button type="button" class="btn btn-primary" (click)="getHistory(); isSearchCollapsed=true" [disabled]="!(searchBegin && searchEnd)">Применить</button>
            </div>
        </div>
    </div>
</div>
<div class="row" [hidden]="!isSearchCollapsed || (totalRecords &lt; recordsPerPage)">
    <div class="col-12">
        <ngb-pagination [collectionSize]="totalRecords" [(page)]="currentPage" [pageSize]="recordsPerPage" [directionLinks]="false" (pageChange)="getHistory()"></ngb-pagination>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <table class="table table-striped table-hover tableFixHead">
            <thead>
                <tr>
                    <th># п/п</th>
                    <th>Распознанный номер</th>
                    <th>Уверенность, %</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let res of lastResults; let i = index" routerLinkActive="table-primary"
                (click)="navigateToRailcarIndex(i)">
                        <th *ngIf="castToRecResult(res)" scope="row">{{ castToRecResult(res).cookie }}</th>
                        <td *ngIf="castToRecResult(res)">
                            <a [routerLink]="['/history', track.name]" [queryParams]="{index: i}">
                                {{ castToRecResult(res).result }}
                            </a>
                        </td>
                        <td *ngIf="castToRecResult(res)">{{ castToRecResult(res).confidence*100 | number : '2.1-1' }}</td>

                        <td *ngIf="castToTrainInfo(res)" colspan="3">
                            <b>Состав <a [routerLink]="['/history', track.name]" [queryParams]="{index: i}">#{{castToTrainInfo(res).train_number}}</a></b>,
                            {{castToTrainInfo(res).timestamp_begin | date: 'medium'}}
                        </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-8" *ngIf="selectedResult">
        <div class="card-deck noscroll">
            <div class="card p-1 mb-2 histcard" *ngFor="let ch of selectedResult.channels">
                <img class="card-img-top" [src]="videoSources[ch.video_source].videoTracks[0].getSnapshotImage+'?timestamp='+ch.timestamps.show" />
                <div class="card-block">
                    <b>{{videoSources[ch.video_source].displayName}}</b> &nbsp; {{ch.timestamps.best | date : 'medium'}}
                    <br/>
                    <button 
                        class="btn btn-outline-secondary btn-sm"
                        (click)="playVideo(ch.video_source, ch.timestamps.first, ch.timestamps.last)">Просмотр видео</button>&nbsp;
                    <a [href]="videoSources[ch.video_source].videoTracks[0].getSnapshotImage+'?timestamp='+ch.timestamps.show"
                        class="btn btn-outline-secondary btn-sm"
                        [download]="selectedResult.result+'_'+ch.video_source+'_'+ch.timestamps.show+'.jpg'">Скачать JPEG</a>&nbsp;
                    <a [href]="videoSources[ch.video_source].videoTracks[0].getMp4(ch.timestamps.first, ch.timestamps.last)"
                        class="btn btn-outline-secondary btn-sm"
                        [download]="selectedResult.result+'_'+ch.video_source+'_'+ch.timestamps.first+'.mp4'">Скачать MP4</a>
                </div>
            </div>

            <div class="card p-1 mb-2 histcard" *ngFor="let ch of supplementaryChannels(selectedResult)">
                <img class="card-img-top" [src]="videoSources[ch].videoTracks[0].getSnapshotImage+'?timestamp='+selectedResult.timestamp_begin" />
                <div class="card-block">
                    <b>{{videoSources[ch].displayName}}</b> <br/>
                    <button 
                        class="btn btn-outline-secondary btn-sm"
                        (click)="playVideo(ch, selectedResult.timestamp_begin, selectedResult.timestamp_end)">Просмотр видео</button>&nbsp;
                    <a [href]="videoSources[ch].videoTracks[0].getMp4(selectedResult.timestamp_begin, selectedResult.timestamp_end)"
                        class="btn btn-outline-secondary btn-sm"
                        [download]="selectedResult.result+'_'+ch+'_'+selectedResult.timestamp_begin+'.mp4'">Скачать MP4</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8" *ngIf="selectedTrain">
        <div class="card-deck noscroll">
            <div class="card p-1 mb-2 histcard" *ngFor="let ch of selectedTrain.channels">
                <img class="card-img-top" [src]="videoSources[ch].videoTracks[0].getSnapshotImage+'?timestamp='+selectedTrain.timestamp_begin" />
                <div class="card-block">
                    <b>{{videoSources[ch].displayName}}</b> <br/> 
                    {{selectedTrain.timestamp_begin | date : 'medium'}} -- {{selectedTrain.timestamp_end | date : 'mediumTime'}}
                    <br/>
                    <button 
                        class="btn btn-outline-secondary btn-sm"
                        (click)="playVideo(ch, selectedTrain.timestamp_begin, selectedTrain.timestamp_end)">Просмотр видео</button>&nbsp;
                    <a [href]="videoSources[ch].videoTracks[0].getMp4(selectedTrain.timestamp_begin, selectedTrain.timestamp_end)"
                        class="btn btn-outline-secondary btn-sm"
                        [download]="selectedTrain.train_number+'_'+ch.video_source+'_'+selectedTrain.timestamp_begin+'.mp4'">Скачать MP4</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>