/* You can add global styles to this file, and also import other style files */
.mon-rec-result {
    font-size: 6vw;
}
.h-scroll {
    height: 93vh; /* %-height of the viewport */
    position: fixed;
    overflow-y: scroll;
}
.noscroll {
    position: sticky; top: 10px; 
}
.tableFixHead          { overflow-y: auto; height: 100px; }
.tableFixHead thead th { position: sticky; top: 0; background-color: #FFF; }

.histcard{
    min-width: 320px !important;
    max-width: 640px !important;
}